<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BudgetBuddy title -->
    <title>BudgetBuddy - Reset Password</title>
    <!-- End title -->
  </head>
  <body
    style="
      text-align: center;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0;
      padding-right: 0;
      -webkit-text-size-adjust: 100%;
      background-color: #fafafa;
      color: #000000;
    "
    align="center"
  >
    <!-- Fallback force center content -->
    <div style="text-align: center">
      <!-- Email content -->
      <table
        align="center"
        style="
          text-align: start;
          vertical-align: top;
          width: 600px;
          max-width: 600px;
          background-color: #ffffff;
        "
        width="600"
      >
        <tbody>
          <tr>
            <td
              style="
                width: 596px;
                vertical-align: top;
                padding: 20px 12px 15px 12px;
              "
              width="596"
            >
              <h1
                style="
                  font-size: 22px;
                  line-height: 24px;
                  font-weight: 600;
                  text-decoration: none;
                  color: #000;
                "
              >
                Reset password link
              </h1>
              <p
                style="
                  font-size: 15px;
                  line-height: 24px;
                  font-weight: 400;
                  text-decoration: none;
                  color: #475569;
                "
              >
                Hi there!,
              </p>

              <p
                style="
                  font-size: 15px;
                  line-height: 24px;
                  font-family: Arial, sans-serif;
                  font-weight: 400;
                  text-decoration: none;
                  color: #475569;
                "
              >
                You requested a password reset for your account. Please click
                the link below to continue with the password reset
              </p>

              <p
                style="
                  font-size: 15px;
                  line-height: 24px;
                  font-family: Arial, sans-serif;
                  font-weight: 400;
                  text-decoration: none;
                  color: #5c6570;
                "
              >
                Reset your password

                <a
                  target="_blank"
                  style="text-decoration: underline; color: #0284c7"
                  href="{{link}}"
                  ><u>here</u></a
                >
              </p>

              <p
                style="
                  font-size: 15px;
                  line-height: 24px;
                  font-family: Arial, sans-serif;
                  font-weight: 400;
                  text-decoration: none;
                  color: #475569;
                "
              >
                If you did not make this request, kindly ignore this email and
                take no further action.
                <span style="display: block; padding-top: 20px"
                  >Warm regards,</span
                >
                <span style="display: block">BudgetBuddy </span>
              </p>
              <p
                style="
                  font-size: 15px;
                  line-height: 24px;
                  font-family: Arial, sans-serif;
                  font-weight: 400;
                  text-decoration: none;
                  color: #475569;
                "
              >
                This reset code will expire in {{expiresIn}}.
              </p>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- End of Email cotent -->

      <!-- Start footer -->
      <table
        align="center"
        style="
          text-align: center;
          vertical-align: top;
          width: 600px;
          max-width: 600px;
          background-color: #ffffff;
        "
        width="600"
      >
        <tbody>
          <tr>
            <td
              style="
                width: 596px;
                vertical-align: top;
                padding: 10px 12px 30px 12px;
              "
              width="596"
            >
              <p
                style="
                  font-size: 15px;
                  line-height: 24px;
                  font-family: Arial, sans-serif;
                  font-weight: 400;
                  text-decoration: none;
                  color: #475569;
                  margin-bottom: 0;
                "
              >
                Copyright &copy; {{date}}
              </p>
              <div
                style="
                  width: 100%;
                  margin-top: 17px;
                  padding-top: 1px;
                  padding-bottom: 7px;
                  background-color: #000;
                "
              >
                <p
                  style="
                    font-size: 15px;
                    line-height: 24px;
                    font-family: Arial, sans-serif;
                    font-weight: 400;
                    text-decoration: none;
                    color: #ffffff;
                  "
                >
                  Follow us on social media
                </p>
                <div style="text-align: center">
                  <a
                    href="https://noruwaobaseki.vercel.app/"
                    style="margin: 0px 8px 8px 0"
                  >
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
                      alt="Linkedin"
                      width="25"
                      height="25"
                      style="
                        width: 25px;
                        max-width: 25px;
                        height: 25px;
                        max-height: 25px;
                      "
                    />
                  </a>

                  <a
                    href="https://noruwaobaseki.vercel.app/"
                    style="margin: 0px 8px 8px 0"
                  >
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/3256/3256013.png"
                      alt="Twitter"
                      width="25"
                      height="25"
                      style="
                        width: 25px;
                        max-width: 25px;
                        height: 25px;
                        max-height: 25px;
                      "
                    />
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- End footer -->
    </div>
  </body>
</html>
